HBox {
	-fx-background: #FFFFFF;
	-fx-font: 15.0px "Serif";
	-fx-padding: 10;
}

VBox {
	-fx-background: #FFFFFF;
}

.table-entry {
	-fx-alignment: center-left;
	-fx-background-color: #FFFFFF;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: black;
	-fx-border-style: dashed;
}
.table-entry:hover {
  	-fx-background-color: #D3D3D3;
}

.shell-pane, .shell-tab {
	-fx-background-color: black;
}
.shell, .shell-text-field, .shell-text-label{
	-fx-font: 13px "monospace";
	-fx-text-fill: white;
	-fx-background-color: black;
}
.shell-text-field-hbox {
	-fx-alignment: center-left;
}


